
*

!.gitignore

!requirements.txt


!lib/
!lib/**/*.py
!lib/seqrec
!lib/seqrec/**/*.py
!lib/reinforce
!lib/reinforce/**/*.py

!configs/
!configs/**/
!configs/**/*.yaml
!configs/**/*.yml

!results/
!results/**/
!results/**/*.json

!configs/**/*.yaml
!configs/**/*.yml

!scripts/
!scripts/**/*.py
!scripts/data
!scripts/data/**/*.py
!scripts/data/**/*.sh

!README.md
!LICENSE

**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
EOF
